# Node.js
node_modules/
dist/
.env

# Logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# Dependency directories
bower_components/
jspm_packages/

# Build tools
build/
coverage/
